

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url("../Gotham-font-family/Gotham-font-family/Gotham/Gotham-Bold.otf") format("opentype");
}


.body-container{
    display: flex;
    justify-content: space-around;
    padding: 4%;
    
}

h1.normal{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    margin-top: 2%;

    position: absolute;
    width: 100%;
    top: 4%;
    font-family: Gotham;
}

h1.toolong {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    margin-top: 2%;

    width: 100%;
    position: absolute;
    font-size: 25px;
    top:5%;
    font-family: Gotham;
}

h1.tootoolong {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    margin-top: 2%;

    width: 100%;
    position: absolute;
    font-size: 18px;
    top: 6%;
    font-family: Gotham;
}

h2.artist{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;

    position: absolute;
    bottom: 25%;
    width: 100%;
    font-family: Gotham;
}

.cover {
    display: flex;
    align-content: center;
    justify-content: center;

    position: absolute;
    top: 28%;
    width: 100%;
    
}
img.cover-image{
    padding: 2%;
    background: #dedede;
    border-style: solid;
}

.login_content{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 600px;
    align-content: center;
}

.login_content button{
    background-color: #1ed760;
    border-color: black;
    align-self: center;
    height: 70px;
    width: 160px;
    border-radius: 0.5em;
    cursor: pointer;
}

.login_content button a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: Gotham;
}


.buttomPosition{
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    
}

.buttomPosition button{
    display: inline-block; 
	padding: 10px;
	color: white;
	position: sticky;
	top: 50%;

    font-family: Gotham;
    
	left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-decoration: none;
    font-size: 4vw;
    transition: all 0.3s ease;
    background-color: #3498db;
    cursor: pointer;
    scroll-snap-align: center;
    border-bottom-style: unset;
    border-top-style: hidden;
    border-right-style: none;
    border-left-style: hidden;
}


.buttomPosition button::before{
    position: absolute;
	content: '';
	transition: all .3s;
    bottom: -13px;
	height: 13px;
	width: 100%;
	left: 6px;
	transform: skewX(45deg);
	background-color: #196090;
}

.buttomPosition button::after{
    position: absolute;
	content: '';
	transition: all .3s;
    right: -13px;
	height: 100%;
	width: 13px;
	bottom: -7.2px;
	transform: skewY(45deg);
	background-color: #124364;
}

.buttomPosition button:active{
    margin-left: 10px;
	margin-top: 10px;
}

.buttomPosition button:active::before{
    bottom: -5px;
    height: 5px;
    left: 3px;
}

.buttomPosition button:active::after{
    right: -5px;
    width: 5px;
    bottom: -3px;
}



.playerContainer{
    opacity: 0.9;
    padding: 2%;
    z-index: 0;

    position: absolute;
    bottom: 0px;
    width: 100%;
}


.containter{

    position: relative;
    box-sizing: border-box;
    width: 50%;
    background: center;
    border-style: solid;
    border-radius: 0.5em;
    height: 289px;
    width: 534px;
    background-image: url('../images/R1.jpg');
    background-repeat: no-repeat;
    background-size: 534px 289px;

}




.rswp__active._InfoRSWP.__mvqn38 {
    display: none;
}


.body-aboutme .row-1 .idk{
    align-self: center;
    justify-self: center;
    
}
.body-aboutme .row-1 .column-1{
    font-family: cursive;
}

.body-aboutme .row-1 .column-1 p{
    font-size: 20px;
}

.body-aboutme .row-1 .column-1 h1{
    padding-bottom: 0%;
    font-size: 37px;
}

.body-aboutme{
    overflow: hidden;
    margin: 4%;
    padding-top: 3%;
}

.body-aboutme .row-1{
    display: grid;
    grid-template-columns: 5fr 3fr;
}


.body-aboutme .row-1 .image-position{
    background-image: url("../images/developer-image.png");
    background-size: cover;
    height: 200px;
    width: 262px;
}

.footer-aboutme{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    padding-top: 10%;
}

.footer-aboutme .button-position {
    place-self: center;
}

.footer-aboutme .button-position button {
    height: 50px;
    width: 180px;
    cursor: pointer;
    border-radius: 0.5em;
    
}

.footer-aboutme .button-position button.github-button{
    background-color: white;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
    border-color:black;
}

.footer-aboutme .button-position button.github-button .icons{
    color: black;
}

.footer-aboutme .button-position button.github-button:hover{
    box-shadow: inset 180px 0 0 0 black;
}

.footer-aboutme .button-position button.github-button:hover .icons{
    color: white;
}

.footer-aboutme .button-position button.linkedin-button{
    background-color: white;
    box-shadow: inset 0 0 0 0 #006192;
    transition: ease-out 0.3s;
    border-color:#006192;
}

.footer-aboutme .button-position button.linkedin-button .icons{
    color: #006192;
}

.footer-aboutme .button-position button.linkedin-button:hover{
    box-shadow: inset 180px 0 0 0 #006192;
}

.footer-aboutme .button-position button.linkedin-button:hover .icons{
    color: white;
}

.footer-aboutme .button-position button.file-button{
    background-color: white;
    box-shadow: inset 0 0 0 0 rgb(185, 23, 23);
    transition: ease-out 0.3s;
    border-color:rgb(185, 23, 23);
}

.footer-aboutme .button-position button.file-button .icons{
    color: rgb(185, 23, 23);
}

.footer-aboutme .button-position button.file-button:hover{
    box-shadow: inset 180px 0 0 0 rgb(185, 23, 23);
}

.footer-aboutme .button-position button.file-button:hover .icons{
    color: white;
}

.icons{
    padding: 3px;
}

@media screen and (max-width: 620px){

    .body-aboutme .row-1{
    grid-template-columns: none;
    }

    .footer-aboutme{
        padding-top: 10%;
        grid-template-columns: 1fr;
        gap: 0px;
        grid-auto-rows: minmax(80px, auto);
    }

    .body-aboutme .row-1 .idk {
        margin-top: 5%;
    }

}

